@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #010012;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* __________________________________ */

#lua {
    width: 200rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2%);
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 20%);
}

#sec1 {
    background-image: url('images/fundoespaco.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
}

#navBar {
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#navSecs {
    display: flex;
    gap: 4rem;
    padding-right: 4rem;
    cursor: pointer;
}

#login {
    width: 6rem;
    height: 2.5rem;
    border-radius: 30px;
    background-color: #ffffff;
    color: #010012;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#login:hover {
    background-color: #f1f1f100;
    border: 1px solid white;
    color: #ffffff;
    transition: 0.2s;
}


#icon {
    width: 10rem;
    pointer-events: none;
}

#navBar p {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 1rem;
    transition: 0.2s;
}

#navBar p:hover {
    transform: scale(1.08);
}

#navBar img {
    height: 7rem;
    transition: 0.2s;
}

#fraseHero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

#fraseHero h1 {
    color: white;
    font-size: 3.5rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    pointer-events: none;
}


#fraseHero button {
    background-color: #ffffff00;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    height: 2rem;
    width: 7rem;
    padding: 0.5rem;
    font-size: 0.7rem;
    margin-top: -1.3rem;
    transition: 0.2s;
    cursor: pointer;
}

#fraseHero button:hover {
    background-color: #ffffff;
    color: #010012;
}

/* __________________________________ */

#sec2 {
    pointer-events: none;
}

#nuvens {
    position: absolute;
    top: 60%;
    width: 100vw;
    pointer-events: none;
}

#imgRocket {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rocket {
    height: 38rem;
	animation: float 3s ease-in-out infinite;
    position: absolute;
    z-index: 1;
    margin-left: 3rem;
}

#glass {
    width: 30rem;
    height: 28rem;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );-webkit-backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#screen2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11rem;
    gap: 10rem;
}

#textSec2 {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    margin-top: -4rem;
}

#titleLunar {
    display: flex;
    flex-direction: column;
}

#titleNIcon {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
}

#oquefaz {
    font-size: 4.5rem;
    font-weight: 300;
}

#lunarint {
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: -5rem;
    padding-left: 0.3rem;
}

#iconSec2 {
    margin-top: 1.6rem;
    width: 3.5rem;
}

#textSec2 {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#paragSec2 {
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    margin-top: -3rem;
    margin-left: 0.4rem;
    width: 29rem;
}

/* __________________________________ */

#sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 60vw;
    margin-top: -5rem;
}

#sec3 h1 {
    color: white;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    pointer-events: none;
}

#cardsSec3 {
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

.cardTrip {
    width: 18rem;
    height: 23rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.5rem;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.cardTrip:hover {
    box-shadow: 0px 0px 20px 1px #9500ff3f;
    border: 1px solid rgba(255, 255, 255, 0.454);
    transform: scale(1.01);
}

.cardTrip img {
    margin-top: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.419);
    border-radius: 1rem;
    width: 12rem;
    height: 10rem;
}

.cardTrip h2 {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.cardTrip p {
    text-align: center;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-top: -0.2rem;
}

#aviso {
    text-align: center;
    font-size: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(59, 177, 79);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}